###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [1]:
s = set([1, 2, 'innomatics', 'hub'])
print(s)

{1, 2, 'innomatics', 'hub'}

> **`Question:` Add element 'Technology' in s**

In [2]:
s.add('Technology')
print(s)

{1, 2, 'hub', 'Technology', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [3]:
sc = set([3,4, 'hub', 'Technology'])
print(sc)

{'hub', 3, 4, 'Technology'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [4]:
s = {1, 2, 'innomatics', 'hub', 'Technology'}
sc = {3, 4, 'hub', 'Technology'}
diff_set = s.difference(sc)
print(diff_set)

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [5]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [6]:
s = {1, 2, 'innomatics', 'hub', 'Technology'}
s.discard(2)
print(s)

{1, 'hub', 'innomatics', 'Technology'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [7]:
s = {1, 2, 'innomatics', 'hub', 'Technology'}
sc = {3, 4, 'hub', 'Technology'}
common_elements = s & sc
print(common_elements)

{'hub', 'Technology'}

> **`Question:`Print all element in two sets**

s union sc

In [8]:
sc = {3, 4, 'hub', 'Technology'}
all_elements = s | sc
print(all_elements)

{1, 2, 'hub', 3, 4, 'Technology', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [9]:
fruits = {"orange", 'apple', 'kiwi'}
colors = ['orange', 'red', 'green']
fruits |= set(colors)
print(fruits)

{'green', 'red', 'kiwi', 'apple', 'orange'}

In [10]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [11]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}